/* PROJECT STYLING */
.projects {
  margin:40px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.project {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 40px;
}

.project_image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: top;
}

.project_content {
  padding: 1em;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.project_description {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.icon_section {
  display: flex;
  flex-direction: row;
  gap: 10px;
  flex-wrap: wrap;
}
@media (max-width: 780px) {
  .projects {
    display: flex;
    flex-direction: column;
  }
  .project_description {
  display: flex;
  flex-direction: column;
  gap:20px;
}
}
/* PROJECT STYLING END */
